@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import "tailwindcss";


:root {
  --color-primary: #0F172A;
  --color-secondary: #1E293B;
  --color-accent: #38BDF8;
  --color-highlight: #A78BFA;
  --color-text-light: #F8FAFC;
  --color-text-dark: #0F172A;
  --color-border: #18c79b;

  
  /* Using --font-roboto variable for font-sans */
  --font-poppins: 'Poppins', sans-serif;
  --font-sans: var(--font-poppins);

  

  --background: var(--color-primary);
  --foreground: var(--color-text-light);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ffffff;
    --foreground: var(--color-text-dark);
  }
}

.font-roboto {
  font-family: var(--font-roboto);
}

.font-geist-sans {
  font-family: var(--font-geist-sans);
}

.font-geist-mono {
  font-family: var(--font-geist-mono);
}


body {
  background: 
    linear-gradient(135deg, #1a202c, #0f4c5c),
    url('https://www.transparenttextures.com/patterns/dark-denim-3.png');
  background-blend-mode: overlay;
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
  transition: background 0.3s, color 0.3s;
}


/* Utility classes */
.bg-primary {
  background-color: var(--color-primary);
}
.bg-secondary {
  background-color: var(--color-secondary);
}
.bg-gradient-custom {
  background: 
    linear-gradient(135deg, #1a202c, #0f4c5c),
    url('https://www.transparenttextures.com/patterns/dark-denim-3.png');
  background-blend-mode: overlay;
}
.text-accent {
  color: var(--color-accent);
}
.text-highlight {
  color: var(--color-highlight);
}
.border-custom {
  border-color: var(--color-border);
}

@layer base {
  html {
    font-family: 'Inter', sans-serif;
  }
}

/* Typing effect */
@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 32vw;
  }
}

@keyframes blinkCaret {
  50% {
    border-color: transparent;
  }
}

/* Apply typing animation */
.animate-typing {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 4px solid; /* Cursor appearance */
  animation: typing 2s steps(30) 1s 1 normal both, blinkCaret 0.75s step-end infinite;
}

/* Individual span fade-in */
.animate-typing span {
  display: inline-block;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

html {
  scroll-behavior: smooth;
}
